<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.AlarmMapper">

	<select id="selectBabyAlarmList" resultType="BS_Alarm" parameterType="Integer"> 
		SELECT ALARMNO,BABYNO , ALARMTITLE, TO_CHAR(ALARMTIME,'YYYY-MM-DD/HH24:MI:SS') AS "ALARMTIME"
		FROM BS_ALARM
		WHERE BABYNO=#{babyNo}
	</select>
	
	<insert id="insertAlarm" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, ALARMTITLE,ALARMTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{alarmTitle},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>
	
	<insert id="updateAlarm" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle},ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</insert>
	 
	<select id="selectAlarm" parameterType="BS_Alarm" resultType="BS_Alarm">
		SELECT ALARMNO, BABYNO, ALARMTITLE, ALARMTIME
		FROM BS_ALARM
		WHERE ALARMNO = #{alarmNo}
	</select>
</mapper>