<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.AlarmMapper">

	<select id="selectBabyAlarmList" resultType="BS_Alarm" parameterType="Integer"> 
		SELECT ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMDETAIL, ALARMAMOUNT, TO_CHAR(ALARMTIME,'YYYY-MM-DD HH24:MI') AS "ALARMTIME", TO_DATE(ENDTIME,'YYYY-MM-DD HH24:MI') AS "ENDTIME"
		FROM BS_ALARM
		WHERE BABYNO=#{babyNo}
		ORDER BY ALARMTIME ASC
	</select>
	
	<!-- 기타, 목욕 -->
	<insert id="insertAlarm" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{userNo},
		#{alarmTitle},
		#{alarmType},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>
	
	<!-- 배소변 (디테일) -->
	<insert id="insertAlarm_Detail" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMDETAIL, ALARMTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{userNo},
		#{alarmTitle},
		#{alarmType},
		#{alarmDetail},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>
	
	<!-- 수면 (시간기록) -->
	<insert id="insertAlarm_EndTime" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMTIME, ENDTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{userNo},
		#{alarmTitle},
		#{alarmType},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'),
		TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>
	
	<!-- 이유식 (시간기록 + 양) -->
	<insert id="insertAlarm_AmountNTEndTime" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMAMOUNT, ALARMTIME, ENDTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{userNo},
		#{alarmTitle},
		#{alarmType},
		#{alarmAmount},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'),
		TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>
	
	<!-- 모유, 젖병, 유축 (시간기록 + 디테일 + 양) -->
	<insert id="insertAlarm_All" parameterType="BS_Alarm" >
		INSERT INTO BS_ALARM (ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMDETAIL, ALARMAMOUNT, ALARMTIME, ENDTIME)
		VALUES (BS_ALARMSEQ.NEXTVAL,
		#{babyNo},
		#{userNo},
		#{alarmTitle},
		#{alarmType},
		#{alarmDetail},
		#{alarmAmount},
		TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'),
		TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		)
	</insert>

	<update id="updateAlarm" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle},ALARMTYPE=#{alarmType}, ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</update>
	<update id="updateAlarm_Detail" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle}, ALARMTYPE=#{alarmType}, ALARMDETAIL=#{alarmDetail}, ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</update>
	<update id="updateAlarm_EndTime" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle}, ALARMTYPE=#{alarmType}, ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'), ENDTIME=TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</update>
	<update id="updateAlarm_AmountNEndTime" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle}, ALARMTYPE=#{alarmType}, ALARMAMOUNT=#{alarmAmount}, ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'), ENDTIME=TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</update>
	<update id="updateAlarm_All" parameterType="BS_Alarm" >
		UPDATE BS_ALARM SET BABYNO=#{babyNo}, ALARMTITLE=#{alarmTitle}, ALARMTYPE=#{alarmType}, ALARMDETAIL=#{alarmDetail}, ALARMAMOUNT=#{alarmAmount}, ALARMTIME=TO_DATE(#{alarmTime},'YYYY-MM-DD HH24:MI'), ENDTIME=TO_DATE(#{endTime},'YYYY-MM-DD HH24:MI')
		WHERE ALARMNO = #{alarmNo}
	</update>
	
	<delete id="deleteAlarm" parameterType="Integer">
		DELETE FROM BS_ALARM WHERE ALARMNO = #{alarmNo}
	</delete>
	 
	<select id="selectAlarm" parameterType="BS_Alarm" resultType="BS_Alarm">
		SELECT ALARMNO, BABYNO, USERNO, ALARMTITLE, ALARMTYPE, ALARMDETAIL, ALARMAMOUNT, TO_CHAR(ALARMTIME,'YYYY-MM-DD HH24:MI') AS "ALARMTIME", TO_DATE(ENDTIME,'YYYY-MM-DD HH24:MI') AS "ENDTIME"
		FROM BS_ALARM
		WHERE ALARMNO = #{alarmNo}
	</select>
	
	<select id="selectAlarmList" parameterType="Integer" resultType="BS_Alarm">
		SELECT ALARMNO, BABYNO, USERNO, BABYNAME AS ALARMTITLE, ALARMTYPE, ALARMDETAIL, ALARMAMOUNT, TO_CHAR(ALARMTIME,'AM HH:MI') AS "ALARMTIME" ,TO_CHAR(ENDTIME,'AM HH:MI') AS "ENDTIME"
		FROM BS_ALARM NATURAL JOIN BS_BABY
		WHERE ((USERNO = #{userNo}) AND (TO_CHAR(ALARMTIME,'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')))
		ORDER BY ALARMTIME
	</select>
</mapper>