<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.BabyBookMapper">
	
	<insert id="insertBabyBook" parameterType="BabyBook">
		INSERT INTO BABYBOOK(
			BOARDNUM,
			USERNO,
			CONTENT, 
			REGDATE,
			ORIGINALFILE, 
			SAVEDFILE)
		VALUES(
			BABYBOOK_SEQ.NEXTVAL,
			#{userNo},
			#{content},
			SYSDATE,
			#{originalfile},
			#{savedfile}
		)
	</insert>
	
	<select id="selectList" resultType="BabyBook">
		SELECT BOARDNUM,
			USERNO, 
			CONTENT, 
			TO_CHAR(REGDATE, 'YYYY/MM/DD') REGDATE,
			ORIGINALFILE, 
			SAVEDFILE 
		FROM 
			BABYBOOK
		where userno = #{userno}
		ORDER BY BOARDNUM
	</select>
	
	<select id="selectOne" parameterType="int" resultType="BabyBook">
		SELECT BOARDNUM,
			USERNO,
			CONTENT, 
			REGDATE,
			ORIGINALFILE, 
			SAVEDFILE FROM BABYBOOK 
			WHERE BOARDNUM = #{boardnum}
	</select>
	
	<delete id="deleteBabyBook" parameterType="int">
		delete from babybook where boardnum = #{boardnum}
	</delete>
	
	<update id="updateBabyBook" parameterType="BabyBook">
		update babybook set 
			content = #{content},
			regdate = sysdate,
			originalfile = #{originalfile},
			savedfile = #{savedfile}
		where 
			boardnum = #{boardnum}
	</update>
	
	<select id="selectListByMonth" parameterType="string" resultType="BabyBook">
		SELECT 
			BOARDNUM,
			USERNO, 
			CONTENT, 
			TO_CHAR(REGDATE, 'YYYY/MM/DD') REGDATE,
			ORIGINALFILE, 
			SAVEDFILE 
			FROM 
				BABYBOOK
			WHERE 
				TO_CHAR(REGDATE, 'YYYY-MM') = #{smonth}
			ORDER BY 
				BOARDNUM
	</select>
	
</mapper>