<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.DiseaseMapper">
	
	<select id="selectList" resultType="Disease">
		select 
			diseasenum,
			diseasename,
			vaccinetype,
			diseasecontent,
			vaccinedate
		from 
			disease
		order by 
			diseasenum	
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Disease">
		select 
			diseasenum,
			diseasename,
			vaccinetype,
			diseasecontent,
			vaccinedate
		from 
			disease	
		where
			diseasenum = #{diseasenum}
	</select>
	
</mapper>