<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.HospitalMapper">
	<select id="selectHspt" resultType="Hospital" parameterType="String"> 
		SELECT *
		FROM hospital
		WHERE hpid=#{hpid}
	</select>
	
	<insert id="insertHspt" parameterType="Hospital" >
		INSERT INTO hospital(hpid, address, name, divNam, phone, eryn, eryynphone, time, latitude, longitude) 
		VALUES ('${hpid}',
		'${address}',
		'${name}',
		'${divNam}',
		'${phone}',
		'${eryn}',
		'${eryynphone}',
		'${time}',
		'${latitude}',
		'${longitude}'
		)
	</insert>

</mapper>