<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>


	<typeAliases>
		<typeAlias alias="BS_User" type="com.scmaster.vo.BS_User"></typeAlias>
		<typeAlias alias="BS_Baby" type="com.scmaster.vo.BS_Baby"></typeAlias>
		<typeAlias alias="BS_Alarm" type="com.scmaster.vo.BS_Alarm"></typeAlias>
		<typeAlias alias="Hospital" type="com.scmaster.vo.Hospital"></typeAlias>
		<typeAlias alias="Grow_Default" type="com.scmaster.vo.Grow_Default"></typeAlias>
		<typeAlias alias="Disease" type="com.scmaster.vo.Disease"></typeAlias>
		<typeAlias alias="Vaccine" type="com.scmaster.vo.Vaccine"></typeAlias>
		<typeAlias alias="BabyBook" type="com.scmaster.vo.BabyBook"></typeAlias>
		<typeAlias alias="Grow" type="com.scmaster.vo.Grow"></typeAlias>
		<typeAlias alias="SNS" type="com.scmaster.vo.SNS"></typeAlias>
		<typeAlias alias="SNS_Reply" type="com.scmaster.vo.SNS_Reply"></typeAlias>
		<typeAlias alias="Friend" type="com.scmaster.vo.Friend"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="MainMapper.xml" />
		<mapper resource="VaccineMapper.xml" />
		<mapper resource="AlarmMapper.xml" />
		<mapper resource="HospitalMapper.xml" />
		<mapper resource="growMapper/GrowMapper.xml" />
		<mapper resource="growMapper/GrowDefaultMapper.xml" />
		<mapper resource="DiseaseMapper.xml" />
		<mapper resource="BabyBookMapper.xml" />
		<mapper resource="SNSMapper.xml" />
	</mappers>
</configuration>