<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	
	<!-- 
	<typeAliases>
		<typeAlias alias="User" type="com.sesoc2.vo.User"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="UserMapper.xml" />
	</mappers>
	
	-->
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>


	<typeAliases>
		<typeAlias alias="BS_User" type="com.scmaster.vo.BS_User"></typeAlias>
		<typeAlias alias="BS_Baby" type="com.scmaster.vo.BS_Baby"></typeAlias>
		<typeAlias alias="BS_Alarm" type="com.scmaster.vo.BS_Alarm"></typeAlias>
		<typeAlias alias="Hospital" type="com.scmaster.vo.Hospital"></typeAlias>
		<typeAlias alias="Grow_Default" type="com.scmaster.vo.Grow_Default"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="MainMapper.xml" />
		<mapper resource="AlarmMapper.xml" />
		<mapper resource="HospitalMapper.xml" />
		<mapper resource="growMapper/GrowDefaultMapper.xml" />
	</mappers>
</configuration>