<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.SNSMapper">

	<!-- 미 로그인시 -->
	<select id="selectPublicSNS" resultType="SNS"> 
		SELECT SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS
		WHERE PERMISSION = 1
		ORDER BY SNSNO DESC
	</select>
	
	<select id="selectFriendList" resultType="Integer">
		SELECT FRIENDNO 
		FROM FRIEND
		WHERE USERNO=#{loginNo}
	</select>
	
	<select id="selectSNS" resultType="SNS" parameterType="Integer">
		SELECT SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS
		WHERE (USERNO=#{loginNo} AND PERMISSION = 0) OR
		(PERMISSION = 1) OR
		(USERNO IN (SELECT FRIENDNO
		FROM FRIEND
		WHERE USERNO=#{loginNo} AND APPLY='N') AND PERMISSION = 0)
		ORDER BY SNSNO DESC
	</select>
	
		<select id="selectSNSbySnsNo" resultType="SNS" parameterType="Integer">
		SELECT SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS
		WHERE SNSNO=#{snsNo}
	</select>
	
	<insert id="insertSNS" parameterType="SNS">
		INSERT INTO SNS(SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, WRITEDATE)
		VALUES
		(SNS_SEQ.NEXTVAL, #{userNo},#{userNick}, #{permission}, #{content}, 0,#{photoCount}, #{photo_1},#{photo_2},#{photo_3},#{photo_4}, SYSDATE)
	</insert>
	
	<select id="selectLikely" parameterType="Likely" resultType="Integer">
		SELECT COUNT(SNSNO)
		FROM LIKELY
		WHERE USERNO=#{userNo} AND SNSNO=#{snsNo}
	</select>
	<insert id="insertLikely" parameterType="Likely">
		INSERT INTO LIKELY(USERNO, SNSNO) VALUES (#{userNo}, #{snsNo})
	</insert>
	
	<delete id="deleteLikely" parameterType="likely">
		DELETE FROM LIKELY WHERE USERNO=#{userNo} AND SNSNO=#{snsNo}
	</delete>
	
	<select id="selectCountLikely" parameterType="likely" resultType="Integer">
		SELECT LIKEY
		FROM SNS
		WHERE SNSNO=#{snsNo}
	</select>
	
	<update id="updateCountLikely" parameterType="hashmap">
		UPDATE SNS 
		SET LIKEY=LIKEY+#{plusMinus}
		WHERE SNSNO=#{snsNo}
	</update>
	
	<select id="selectReply" parameterType="Integer" resultType="SNS_Reply">
		SELECT RPLYNO, SNSNO,USERNO, USERNICK ,CONTENT , PARENT_RPLY, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS_REPLY
		WHERE SNSNO = #{snsNo}
		ORDER BY RPLYNO DESC
	</select> 
	
	<insert id="insertReply" parameterType="SNS_Reply" >
		INSERT INTO SNS_REPLY (RPLYNO, SNSNO,USERNO, USERNICK ,CONTENT , PARENT_RPLY, WRITEDATE)
		VALUES (SNS_RPLY_SEQ.NEXTVAL, #{snsNo}, #{userNo}, #{userNick} ,#{content}, #{parent_Rply}, SYSDATE) 
	</insert>
	
	<insert id="applyFriend" parameterType="Friend">
		INSERT INTO FRIEND(USERNO, FRIENDNO, APPLY)
		VALUES(#{userNo},#{friendNo},#{apply})
	</insert>
	
	<select id="checkFriend" resultType ="Integer" parameterType="Friend">
		SELECT COUNT(USERNO)
		FROM FRIEND
		WHERE USERNO=#{userNo} AND FRIENDNO=#{friendNo}
	</select>
	
	<select id="selectApplyList" resultType ="Friend" parameterType="Integer">
		SELECT USERNO, FRIENDNO, APPLY
		FROM FRIEND
		WHERE FRIENDNO=#{userNo} AND APPLY='Y'
	</select>
	
	<update id="updateApply" parameterType="Friend">
		UPDATE FRIEND 
		SET APPLY=#{apply}
		WHERE USERNO=#{userNo} AND FRIENDNO=#{friendNo}
	</update>
	
	<select id="selectDenyList" resultType ="Friend" parameterType="Integer">
		SELECT USERNO, FRIENDNO, APPLY
		FROM FRIEND
		WHERE USERNO=#{userNo} AND APPLY='D'
	</select>
	
	<delete id="deleteFriend" parameterType="Friend">
		DELETE FROM FRIEND WHERE USERNO=#{userNo} AND FRIENDNO=#{friendNo}
	</delete>
	
	<delete id="deleteSns" parameterType="Integer">
		DELETE FROM SNS WHERE SNSNO=#{selectNo}
	</delete>
	
	<delete id="deleteReplyBySnsNo" parameterType="Integer">
		DELETE FROM SNS_REPLY WHERE SNSNO=#{selectNo}
	</delete>
	
	<update id="updateSNS" parameterType="SNS">
		UPDATE SNS 
		SET USERNO=#{userNo}, CONTENT = #{content}, PERMISSION=#{permission}
		WHERE SNSNO=#{SNSNo}
	</update>
	
	<select id="selectReplyByRplyNo" parameterType="Integer" resultType="SNS_Reply">
		SELECT RPLYNO, SNSNO, USERNO, USERNICK ,CONTENT , PARENT_RPLY, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS_REPLY
		WHERE RPLYNO = #{rplyNo}
	</select>
	
	<select id="deleteReplyByRplyNo" parameterType="Integer" resultType="SNS_Reply">
		DELETE FROM SNS_REPLY
		WHERE RPLYNO = #{rplyNo}
	</select>
	
	<update id="updateReply" parameterType="SNS_Reply">
		UPDATE SNS_REPLY 
		SET  CONTENT = #{content}
		WHERE RPLYNO = #{rplyNo}
	</update>
	
	<select id="checkSingo" parameterType="Singo" resultType="int">
		SELECT count(userNo)
		FROM SINGO
		WHERE SNSNO =#{SNSNo} AND USERNO=#{userNo}
	</select>
	
	<insert id="insertSingo" parameterType="Singo">
		INSERT INTO SINGO(SNSNO, USERNO) VALUES (#{SNSNo}, #{userNo})
	</insert>
	
</mapper>