<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.SNSMapper">

	<!-- 미 로그인시 -->
	<select id="selectPublicSNS" resultType="SNS"> 
		SELECT SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS
		WHERE PERMISSION = 1
	</select>
	
	<select id="selectFriendList" resultType="Integer">
		SELECT FRIENDNO 
		FROM FRIEND
		WHERE USERNO=#{loginNo}
	</select>
	<select id="selectSNS" resultType="SNS" parameterType="Integer">
		SELECT SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, TO_CHAR(WRITEDATE,'YYYY-MM-DD HH24:MI') AS WRITEDATE
		FROM SNS
		WHERE (USERNO=#{loginNo} AND PERMISSION = 0) OR
		(PERMISSION = 1) OR
		(USERNO IN (SELECT FRIEND
		FROM FRIEND
		WHERE USERNO=#{loginNo}) AND PERMISSION = 0)
	</select>
	
	<insert id="insertSNS" parameterType="SNS">
		INSERT INTO SNS(SNSNO, USERNO, USERNICK,PERMISSION ,CONTENT, LIKEY, PHOTOCOUNT, PHOTO_1,PHOTO_2,PHOTO_3,PHOTO_4, WRITEDATE)
		VALUES
		(SNS_SEQ.NEXTVAL, #{userNo},#{userNick}, #{permission}, #{content}, 0,#{photoCount}, #{photo_1},#{photo_2},#{photo_3},#{photo_4}, SYSDATE)
	</insert>
	
	
</mapper>