<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.VaccineMapper">
	
	<select id="selectList" resultType="Vaccine" parameterType="int">
		select
			b.babyno,
			d.diseasenum,
			d.diseasename,
			d.vaccinetype,
			d.vaccinedate
		from 
			bs_baby b, disease d
		where
			b.babyno = #{babyNo}
	</select>
	
	<select id="selectList2" resultType="Vaccine" parameterType="int">
		select
			babyno,
			diseasenum,
			diseasename,
			vaccinecheck,
			vaccinetype,
			vaccinedate,
			to_char(checkdate ,'yyyy/mm/dd') checkdate,
			memo
		from 
			vaccine
		where
			babyno = #{babyNo}
		order by 
			diseasenum
	</select>
	
	<insert id="insertVaccine" parameterType="Vaccine">
		insert into vaccine(
			babyno,
    		diseasenum,
    		diseasename,
   			vaccinetype,
  		  	vaccinedate
		)
		values(
			#{babyNo},
			#{diseaseNum},
			#{diseaseName},
			#{vaccineType},
			#{vaccineDate}
		) 
	</insert>
	
	<update id="updateVaccine" parameterType="map">
		update vaccine
		set 
			vaccinecheck = #{vaccineCheck},
			checkdate = to_date(#{checkdate},'yyyymmdd'),
			memo = #{memo}
		where
			babyno = #{babyNo} and
			vaccinetype = #{vaccineType}	
	</update>	
	
	
</mapper>