<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.scmaster.mapper.HospitalMapper">
	<select id="selectWeather" resultType="Weather" parameterType="Weather"> 
		SELECT *
		FROM weather
		WHERE userNo=#{userNo} and time=#{time}
	</select>
	
	<insert id="insertWeather" parameterType="Weather" >
		INSERT INTO hospital(USERNO, location, weather, temperature, humidity, wind, time) 
		VALUES (#{USERNO},
		'${location}',
		'${weather}',
		'${temperature}',
		'${humidity}',
		'${wind}',
		'${time}'
		)
	</insert>

</mapper>