*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	display: flex;
}
html {
	overflow-y: scroll;
}
::-webkit-scrollbar {
	display:none;
}
/* div */
#signup{
	margin: auto;
	width: 80%;
	min-width: 350px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*프로필 사진*/
#image_section{
	margin: auto;
	display: flex;
}

#image_section > img{
    margin: 0 auto;
    width: 100%;
	max-width: 600px; 
	max-height: 500px;
}

#imgInput:focus{
	outline: 0;
	border-color: #FFA600;
}

/*수정폼*/
label {
	position: absolute;
	-webkit-transform: translateY(26px);
	transform: translateY(26px);
	left: 12px;
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 12px;
}
/*주황색 글씨가 이거*/
.req {
	vertical-align: middle;
	font-size: 10px;
	margin: 2px;
	color: #f4a742;
}

label.active {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 12px;
	opacity: 0;
}

input, textarea {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #000;
	border-radius: 5px;
	transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
	outline: 0;
	border-color: #FFA600;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}
/*아이디, 닉네임*/
.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row>div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row>div:last-child {
	margin: 0;
}
/*기존, 새 비밀번호*/
.sec-row:after {
	content: "";
	display: table;
	clear: both;
}

.sec-row>div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.sec-row>div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 5px;
	padding: 15px 0;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #ffe0a6;
	color: #9b797b;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.button:hover, .button:focus,.button:active {
	background: #ffc557;
	color: #f2eeee;
}

.button-block {
	display: block;
	width: 100%;
}