*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #f4a742;
	transition: .5s ease;
}

a:hover {
	color: #8080ff;
	text-decoration: none;
}

h3{
	margin-top: 0;
	margin-bottom: 1.5em;
}

/*=============================================================================*/
.login_content {
	position: absolute;
	margin: auto;
	width: 80%;
	height: 60%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	display: table;
}

.loginImgDiv {
	margin: auto;
	margin-right: 2em;
	width: 60%;
	height: 100%;
	display: table;
	float: left;
}

.loginImgContainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#slides {
	width: 100%;
	display: none;
}
/*=============================================================================*/
.form {
	margin: auto;
	min-width: 400px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	padding: 40px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	float: left;
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: #FDE4D5;
	color: #fff;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
}

.tab-group li a:hover {
	background: #ffe0a6;
	color: #9b797b;
}

.tab-group .active a {
	background: #FFA600;
	color: #ffffff;
}

.tab-content>div:last-child {
	display: none;
}

label {
	position: absolute;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	left: 12px;
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 12px;
}

label .req {
	margin: 2px;
	color: #f4a742;
}

label.active {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 12px;
	opacity: 0;
}

input, textarea {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #000;
	border-radius: 0;
	transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
	outline: 0;
	border-color: #FFA600;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row>div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row>div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #FFA600;
	color: #ffffff;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.button:hover, .button:focus,.button:active {
	background: #ffe0a6;
	color: #9b797b;
}

.button-block {
	display: block;
	width: 100%;
}

.forgot {
	margin-top: -20px;
	text-align: right;
}

/*-----------모바일 화면 레이아웃-----------*/
@media (max-width: 1300px) {
	.login_content{
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		width: 90%;
	}
	
	.loginImgDiv{
		width: 50%;
	}
	.form{
		margin: 0 auto;
		max-width: 400px;
		min-width: 300px;
	}
}

@media (max-width: 1024px) {
	.login_content{
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		width: 100%;
	}
	
	.loginImgDiv{
		width: 48%;
	}
	.loginimgcontainer{
		margin: auto;
	}
	.form{
		margin: 0 auto;
		min-width: 300px;
	}
}

@media ( max-width: 767px ) {
	.login_content{
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		width: 80%;
		align-content: center;
	}
	.loginImgDiv{
		display: none;
	}
	
	.form{
		margin: auto;
		width: 100%;
		min-width: 300px;
		clear: both;
	}
}
