body{
	margin: 0;
}
div{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	display:none;
}
/* ------------------------------------------------------------------------------------- */

/*본문 div*/
.grow_main_content{
	position: absolute;
	width: 100%;
	height: 100%;
}

/* 사이드바(시트/차트 버튼) */
.grow_sidebar{
	margin-right: -100px;
	width: 100px;
	padding-top: 3em;
	padding-bottom: 2em;
	float: left;
}
.grow_sidebar h5{
	text-align: center;
	font-weight: bold;
}
.grow.button{
	margin: 1em;
	width: 80px;
	padding: 5px 15px;

	background: #90befa;
	color: #fff;
	font-size: 12px;
	text-align: center;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #257df5!important;
}
.grow.button:active, .grow.button:hover, .grow.button:focus{
	background: #FFD0D0;
	color: #fff;
	border: 1px solid #ffacac!important;
	outline: none;
}

/*========= 시트+그래프 =========*/

/*차트 div*/
.grow_chart{
	margin: 0 auto;
	width: 100%;
	min-width: 600px;
	height: 100%;
	float: left;
	text-align: right;	/*버튼 오른쪽에 몰아넣으려고 넣은 거*/
}

/*========= 시트 =========*/

/*아이정보조회란(시트)*/
.grow_sheet{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 100px;
	margin-right: 20px;
	padding: 2em;
	text-align: left;
}
.grow_sheet select{
	margin-bottom: 1em;
	height: 30px;
	padding: 5px 10px;
	background: none;
	background-image: none;
	color: #000;
	font-size: 12px;
	border: 1px solid #a0b3b0;
	border-radius: 5px;
	transition: border-color .25s ease, box-shadow .25s ease;
}
.grow_sheet select:focus{
	outline: none;
	border: 1px solid #FFAD13;
}
.grow_sheet button{
	height: 30px;
	padding: 5px 10px;
	background: #FFFACD;
	color: #000;
	text-align: center;
	font-size: 12px;
	border: 2px solid #FFF7A6;
	border-radius: 5px;
	vertical-align: top;
}
.grow_sheet button:focus, .grow_sheet button:active{
	outline: none;
	border: 1px solid #FFAD13;  
}
/*조회선택*/
#grow_formchooseData{
	width: 100%;
	text-align: right;
}
/*테이블*/
.grow_sheetData{
	min-height: 340px;
	border: 1px solid #f0ad4e;
	border-radius: 10px;
}
.grow_sheetTable{
	width: 100%;
}
.grow_sheetTable thead th{
	padding-top: 1.5em;
}
.grow_sheetTable th, .grow_sheetTable td{
	padding: 1em;
	text-align: center;
}
.grow_sheetTable input{
	width: 160px;
	height: 30px;
	padding: 5px 10px;
	background: none;
	background-image: none;
	color: #000;
	font-size: 12px;
	border: 1px solid #a0b3b0;
	border-radius: 5px;
}
.grow_sheetTable input:focus{
	outline: none;
	border: 1px solid #FFAD13;
}
.grow_sheetTable button{
	width: 50px;
	height: 30px;
	padding: 5px 10px;
	background: #FFFACD;
	color: #000;
	text-align: center;
	font-size: 12px;
	border: 1px solid #FFF7A6;
	border-radius: 5px;
	vertical-align: top;
}
/*========= 그래프 =========*/

/*아이선택버튼 div*/
.grow_selectBabyDiv{
	margin-right: 40px;
}
.grow_selectBabyDiv button{
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 5px 15px;
	background: #90befa;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #257df5!important;
}
.grow_selectBabyDiv button.active, .grow_selectBabyDiv button:hover, .grow_selectBabyDiv button:focus{
	background: #FFD0D0;
	color: #fff;
	border: 1px solid #ffacac!important;
	outline: none;
}
/*캔버스 컨테이너(캔버스 날릴 때 남길 틀+캔버스 사이즈 조정)*/
.grow_canvas_container{
	margin-top: 0 ;
	margin-bottom: 0;
	margin-left: 100px;
	margin-right: 40px;
	
	display: none;
	position: relative; 
	margin-bottom: 2em;
	height: 600px;
}	
.grow_canvas_container canvas{
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    margin: 0;
    padding: 0; 
    cursor: pointer;
}

/*========= 입력창 =========*/

/*아이정보입력란*/
.grow_insertDiv{
	display: none;
	margin-top: 0 ;
	margin-bottom: 0;
	margin-left: 120px;
	margin-right: 40px;
	padding: 2em;

	text-align: center;
	border: 1px solid #f0ad4e;
	border-radius: 10px;
/* 	padding-top: 1.3em;
	margin-left: -200px;
	width: 200px;
	float: left; */
}
/*최근갱신일 표시란*/
.grow_checkRegdate{
	color: red;
	font-size: 12px;
}
.grow_insertDiv h4{
	text-align: center;
}
/*input 디자인*/
.grow_insertDiv input{
	margin-bottom: 1em;
	width: 50%;
	min-width: 150px;
	height: 30px;
	padding: 5px 10px;
	background: none;
	background-image: none;
	color: #000;
	font-size: 12px;
	border: 1px solid #a0b3b0;
	border-radius: 5px;
}
.grow_insertDiv input:focus{
	outline: none;
	border: 1px solid #FFAD13;
}
/*select 디자인*/
.grow_insertDiv select{
	margin-bottom: 1em;
	width: 50%;
	min-width: 150px;
	height: 30px;
	padding: 5px 10px;
	background: none;
	background-image: none;
	color: #000;
	font-size: 12px;
	border: 1px solid #a0b3b0;
	border-radius: 5px;
	transition: border-color .25s ease, box-shadow .25s ease;
}
.grow_insertDiv select:focus{
	outline: none;
	border: 1px solid #FFAD13;
}
/*아이정보입력버튼*/
.grow_insertDiv button{
	width: 54%;
	min-width: 150px;
	margin-top: 1em;
	padding: 5px 15px;
	background: #ffe0a6;
	color: #9b797b;
	font-size: 12px;
	text-align: center;
	border: 1px solid #ffe0a6;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.grow_insertDiv button.active, .grow_insertDiv button:hover, .grow_insertDiv button:focus{
	background: #ffc557;
	color: #f2eeee;
	outline: none;
}

